/AD/Exercicios/Exercicio_Repaso_Dado/target/
/AD/Exercicios/Ex_Repaso_Lotaria/target/
/AD/Exercicios/Ex_Repaso_Data/target/
/AD/Exercicios/Ex_Repaso_Empregado/target/
/AD/Exercicios/TarefasAvaliables/Parte1/target/
/AD/Exercicios/TarefasAvaliables/AcademiaMas/nbproject/private/
/AD/Exercicios/TarefasAvaliables/AcademiaMas/build/
/AD/Exercicios/U1_Ficheros/Ex1_Directorios/target/
/AD/Exercicios/U1_Ficheros/Ex2_ContidosFicheiro/target/
/AD/Exercicios/U1_Ficheros/Ex3_Binario/target/
/AD/Exercicios/U1_Ficheros/Ex4_ContarLineas/target/
/AD/Exercicios/U1_Ficheros/Ex5_Splits/target/
/AD/Exercicios/U1_Ficheros/Ex6_XMLDOM/target/
/AD/Exercicios/U1_Ficheros/Ex6_XMLDOM_Libros/target/
/AD/Exercicios/U1_Ficheros/Ex7_XMLDOM_Promedio/target/
/Solucion_Outros_Alumnos/LecturaLibrosSax_Carlos/build/
/Solucion_Outros_Alumnos/LecturaLibrosSax_Carlos/nbproject/private/
/Solucion_Outros_Alumnos/LecturaLibrosSax_CarlosFraile/build/
/AD/Exercicios/U2_Conectores/PruebaSQL/nbproject/private/
